.footer {
    text-align: center;
    margin: 0 auto $medium-s auto;
}

.footer__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $small-s 0;

    img {
        width: 2%;
        height: 2%;
    }
}

.footer__text {
    color: $grey-primary;
    font-size: $font-s;
}