.boxed {
  align-items: center;
  background: url('/img/bg-3.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.boxed__center {
  font-size: $font-m;
  border-radius: .25rem;
  background: fade-out(#ffffff, .30);
  padding: $medium-s $small-s;
  position: relative;
  text-align: center;
}

.btn__large {
  padding: $medium-s $small-s;
}

.boxed__text {
  font-size: $font-s;
}

.boxed__text--title {
  padding: $medium-s $small-s;
  line-height: 1;
}

.boxed__padding {
  padding-top: 5%;
  width: 50vw;
}