.receipt {
    margin-top: $small-s;
    width: 10rem;
    height: 10rem;
    border: 1px solid #ddd;
    padding: .5rem;
    border-radius: 1rem;
}

.receipt-btn {
    background: $grey-primary;
    border-radius: .25rem;
}