.btn {
    background: $pink;
    color: $white;
    border: none;
    padding: 1rem;
    font-weight: 400;
    font-size: $font-l;
    font-family: $font-primary;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.btn-space__bottom {
    margin-bottom: 5rem;
}

.btn__logout {
    background: $pink;
    color: $white;
    border: none;
    padding: .5rem 1rem;
    font-weight: 400;
    font-size: $font-s;
    font-family: $font-primary;
    display: inline-block;
    text-decoration: none;
}

.btn--login {
    display: flex;
    margin: auto;
    cursor: pointer;
    margin-bottom: 10%;
}

.btn--login__text {
    margin: 2px;
}

.btn--login_google {
    width: auto;
    height: 25px;
    margin-right: $medium-s;
}

.btn--h1 {
    color: $grey-primary;
    font-size: $font-l;
}


