.dash-header {
    background: $grey-light;
    padding: $large-s 0;
    margin-bottom: $large-s;
}

.dash-header__title {
    margin: 0;
    font-weight: 300;
    span {
        font-weight: bold;
    }
}

.dash-header__createexp {
    margin-top: $medium-s;
}

.header-analytics {
    background: transparent;
    padding: $large-s 0;
    margin-bottom: $large-s;

    span {
        font-weight: 700;
    }
}

.dash-header__s {
    font-weight: 700;
    color: $pink;
}