.in-group {
    display: flex;
    flex-direction: row;
    margin-bottom: $large-s;


}

.in-group__item {
    padding: $medium-s;
    margin-bottom: $medium-s;

    
}

.in-group__item--btn {
    margin: 0;
}

.drop-down {
    background-image: url('/img/arrow.png');
    background-position: center right;
    background-repeat: no-repeat;
    padding: $small-s;
    border-radius: 2px;
    margin: 0;

    option {
        font-family: inherit;
    }
}