.text-input {
    //border: 1px solid $grey-primary;
    height: 5rem;
    padding: $medium-s;
    font-size: $font-m;
    font-weight: 300;
}

.select {
    @extend .text-input;
}

.text-area {
    @extend .text-input;
    height: 7.5rem;
    font-family: $font-primary;
}