// Design colours
$pink: #f224f2;
$grey-primary: #262626;
$white: #fff;
$grey-light: #f1f1f1;

// Padding
$small-s: 1rem;
$medium-s: 1.625rem;
$large-s: 3rem;

// Font size
$font-l: 2rem;
$font-m: 1.6rem;
$font-s: 1.4rem;
$font-extra-s: 1.2rem;

// Font family
$font-primary: Calibri, sans-serif, Helvetica;
